In [2]:
import pandas as pd
import csv

In [5]:
resumes = pd.read_csv("../data/resume_queries.csv")

job_postings = pd.read_csv("../data/job_postings_cleaned.csv")

In [6]:
job_postings

,company_name,title,description,salary,location,formatted_experience_level,skills_desc,work_type,zip_code,job_matching
0,Essentia Health,Long Term Care Administrator,Looking to Make a Difference in Someone’s Life...,110000.0,"Virginia, MN",Director,NaN,FULL_TIME,55792.0,Long Term Care Administrator Looking to Make a...
1,STIIIZY,Retail Procurement Assistant,We are seeking a proactive and detail-oriented...,58240.0,"Los Angeles, CA",Associate,NaN,FULL_TIME,90001.0,Retail Procurement Assistant We are seeking a ...
2,Net2Source Inc.,Quality Control Inspector,Title: Product Quality Inspector Location: Alp...,104000.0,"Alpharetta, GA",Associate,NaN,CONTRACT,30004.0,Quality Control Inspector Title: Product Quali...
3,Swoon,Creative Project Manager - 79439,Our client is a Fortune 100 company & leading ...,70720.0,"Chicago, IL",Associate,NaN,CONTRACT,60601.0,Creative Project Manager - 79439 Our client is...
4,Murphy USA,CASHIER (full-time & part-time opportunities),Job Posting\n\nAs one of the largest national ...,28080.0,"Lapeer, MI",Entry level,NaN,PART_TIME,48446.0,CASHIER (full-time & part-time opportunities) ...
...,...,...,...,...,...,...,...,...,...,...
9995,RightWorks,Beverage Manager - 1927672,Job Title:** Beverage Manager\n\n\n**Summary:*...,85000.0,"San Francisco, CA",Associate,NaN,FULL_TIME,94101.0,Beverage Manager - 1927672 Job Title:** Bevera...
9996,Hitachi Digital Services,Sr UI (Angular) Developer,"We’re Hitachi Digital Services, a global digit...",135000.0,"Dallas, TX",Entry level,NaN,FULL_TIME,75201.0,Sr UI (Angular) Developer We’re Hitachi Digita...
9997,OneBridge Search,Associate Attorney - Insurance Litigation Defense,Prominent firm is seeking a Litigation Attorne...,170000.0,"Baltimore County, MD",Mid-Senior level,NaN,FULL_TIME,21201.0,Associate Attorney - Insurance Litigation Defe...
9998,EKN Engineering,Civil Engineer,Job Description\n EKN Engineering is a fast-gr...,135000.0,"Irvine, CA",Mid-Senior level,NaN,FULL_TIME,92602.0,Civil Engineer Job Description\n EKN Engineeri...
9999,ICL Group,Chemical Operator,The Chemical Operator position is in our food ...,64126.4,Greater St. Louis,Entry level,NaN,FULL_TIME,NaN,Chemical Operator The Chemical Operator positi...

In [7]:
resumes

,ID,Resume_str,Resume_html,Category
0,18937778,"DIRECTOR, GLOBAL BUSINESS DEVELOPMENT...","<div class=""fontsize fontface vmargins hmargin...",BUSINESS-DEVELOPMENT
1,12814706,BUSINESS DEVELOPMENT DIRECTOR S...,"<div class=""fontsize fontface vmargins hmargin...",BUSINESS-DEVELOPMENT
2,11584809,MANAGER - INFORMATION TECHNOLOGY AND ...,"<div class=""fontsize fontface vmargins hmargin...",INFORMATION-TECHNOLOGY
3,18172739,PROJECT ANALYST Summary ...,"<div class=""fontsize fontface vmargins hmargin...",BANKING
4,19738730,BUSINESS DEVELOPMENT INTERN S...,"<div class=""fontsize fontface vmargins hmargin...",BUSINESS-DEVELOPMENT
5,36302399,"BANKING CENTER MANAGER, ASSISTANT VIC...","<div class=""fontsize fontface vmargins hmargin...",BANKING
6,89197180,INTERNATIONAL BUSINESS DEVELOPMENT ...,"<div class=""fontsize fontface vmargins hmargin...",BUSINESS-DEVELOPMENT
7,24703983,ACCOUNTANT Summary Experienc...,"<div class=""fontsize fontface vmargins hmargin...",AUTOMOBILE
8,28176889,FOOD SERVER Professional Summar...,"<div class=""fontsize fontface vmargins hmargin...",CHEF
9,25718772,TSO/FLOATER Career Overview ...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
10,30813919,ACCOUNTANT Professional Profile...,"<div class=""fontsize fontface vmargins hmargin...",ACCOUNTANT
11,19532392,LOGISTICS TECHNICIAN Profes...,"<div class=""fontsize fontface vmargins hmargin...",AGRICULTURE
12,35492909,TAX ACCOUNTANT Professional S...,"<div class=""MPR skn-cbg1 fontsize fontface vma...",BANKING
13,18436190,PUBLIC RELATIONS MANAGER High...,"<div class=""fontsize fontface vmargins hmargin...",PUBLIC-RELATIONS
14,24967652,MANAGER OF FINANCE Profession...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE
15,50219114,DIGITAL STRATEGY MANAGER Prof...,"<div class=""fontsize fontface vmargins hmargin...",DIGITAL-MEDIA
16,26919036,CONSULTANT ACCOUNT Summary T...,"<div class=""fontsize fontface vmargins hmargin...",CONSULTANT
17,22423839,INTERNATIONAL BUSINESS DEVELOPMENT MA...,"<div class=""fontsize fontface vmargins hmargin...",BUSINESS-DEVELOPMENT
18,31042953,MANAGER Professional Summary ...,"<div class=""fontsize fontface vmargins hmargin...",FITNESS
19,93576192,ENGLISH LANGUAGE ARTS TEACHER S...,"<div class=""fontsize fontface vmargins hmargin...",ARTS

In [16]:
import google.generativeai as genai
from tqdm import tqdm

genai.configure(api_key="AIzaSyCwN--95SdQ_9CK4hmPjR2xo0II7Y1eVQQ")


def get_embedding(text):
    try:
        response = genai.embed_content(
            model="models/gemini-embedding-exp-03-07",
            content=text,
            task_type="semantic_similarity"
        )
        return response["embedding"]
    except Exception as e:
        print(f"Error generating embedding: {e}")
        return None

🔍 Loading resumes...
🔨 Generating embeddings for resumes...

Embedding resumes:  35%|███▌      | 7/20 [00:03<00:06,  1.95it/s]

Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).

Embedding resumes: 100%|██████████| 20/20 [00:04<00:00, 10.92it/s]

Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
Error generating embedding: 429 Resource has been exhausted (e.g. check quota).

Embedding resumes: 100%|██████████| 20/20 [00:04<00:00,  4.83it/s]

Error generating embedding: 429 Resource has been exhausted (e.g. check quota).
✅ Saved resume embeddings to 'gemini_embeddings_resumes.csv'